PORT=3001
HOST=127.0.0.1
LOG_DIR=./logs
MAX_ROOMS=12
ROOM_CAPACITY=8
MAX_PAYLOAD=8192
MESSAGE_RATE=60
HEARTBEAT_MS=15000
SLOW_CLIENT_BYTES=65536
NET_LATENCY_MS=0
NET_JITTER_MS=0
NET_DROP_PCT=0
TICK_RATE=30
